*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color : wheat;
}

.root{
    position: relative; top: 0; left: 0;
    width: 1800px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Main{
    position: fixed;left: calc((100% - 20rem )/ 2); top: 10rem;
    width: 30rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    color :white;
    button{
        width: 50%;
        height: 3rem;
        margin-top: 10rem;
    }
}


.gra{
    width: auto;
    height: auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(31, 1.78rem);
    grid-template-rows: repeat(31,1.75rem);
}

.pole{
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center{
    background-color: blue;
}


.snake {
    width: 1rem;
    height: 1rem;
    background-color: lightgreen;
}

.head{
    width: 1rem;
    height: 1rem;
    background-color: darkgreen;
}

.border{
    background-color: lightblue;
}

.apple{
    background-color: red;
}